# To Create DataFrame

In [3]:
# To Find spark 
# uncomment it if environment variables issues occurs
# !pip install findspark
import findspark
findspark.init()

In [17]:
import pyspark
from pyspark.sql import SparkSession,Row
from pyspark.sql.types import StructField, StructType, IntegerType, StringType, LongType,TimestampType

In [5]:
sc=SparkSession.builder.appName('Agg').getOrCreate()

In [29]:
sc

In [30]:
# To Configure cores
# conf = spark.SparkConf().setMaster('local')
# sc = spark.SparkContext(conf=conf)

In [23]:
schema = StructType(
    [
        StructField(name="Name", dataType=StringType(), nullable=True),
        StructField(name="Age", dataType=IntegerType(), nullable=True),
        StructField(name="Mobile Number", dataType=LongType(), nullable=False),
#         StructField(name="DOB", dataType=TimestampType(), nullable=False),
    ]
)

In [50]:
rows= [
    Row('Random 1', 20, 9517152108),
    Row('Random 2', 20, 9517152109),
    Row('Random 3', 22, 9517152110),
]

In [51]:
parellelizeRows =sc.sparkContext.parallelize(rows)

In [52]:
df = sc.createDataFrame(parellelizeRows, schema)

In [53]:
df.show()

+--------+---+-------------+
|    Name|Age|Mobile Number|
+--------+---+-------------+
|Random 1| 20|   9517152108|
|Random 2| 20|   9517152109|
|Random 3| 22|   9517152110|
+--------+---+-------------+

In [54]:
import pyspark.sql.functions as F

In [55]:
df.select(F.col("Name"))

DataFrame[Name: string]

## To Change column names

In [57]:
df.select(F.expr("Name as Name2")).show(2)

+--------+
|   Name2|
+--------+
|Random 1|
|Random 2|
+--------+
only showing top 2 rows

## Filtering Values

In [68]:
df.where('Age < 21').show()

+--------+---+-------------+
|    Name|Age|Mobile Number|
+--------+---+-------------+
|Random 1| 20|   9517152108|
|Random 2| 20|   9517152109|
+--------+---+-------------+

## Filter Multiple Values

In [67]:
df.where('Age < 21').where(F.col('Mobile Number') == '9517152108' ).show()

+--------+---+-------------+
|    Name|Age|Mobile Number|
+--------+---+-------------+
|Random 1| 20|   9517152108|
+--------+---+-------------+

## Get Unique value in a Column

In [69]:
df.select("Age").distinct().count()

2